@using RaspberryPiHomeControlApiClient.Models

<div style="padding:20px;margin:5px;box-shadow:0 0 15px lightgrey;border-radius:10px">
    <div class="row">
        <div class="col">
            <h2><strong>LED</strong> @Led.Number</h2>
            <ul>
                <li>GPIO pin:
                    <b>
                        @foreach (var pin in Led.Pins)
                        {
                            @pin
                            @(pin != Led.Pins.Last() ? ", " : string.Empty)
                        }
                    </b>
                </li>
                <li>Status: <b>@LedStatusAsString()</b></li>
            </ul>

            <button class="btn btn-primary" @onclick="() => LED_Toggle()">Toggle</button>

            @if (!Led.IsRGB)
            {
                <button class="btn btn-primary" @onclick="() => LED_Blink()" style="margin-left: 5px;">Blink</button>
                <br><br>
                <input type="number" @onchange="IntervalInput_ChangeEvent" placeholder="Blink interval (1.0)" class="form-control" />
            }
            else if (MappedColor is not null)
            {
                <ColorPicker RefreshEvent="RefreshLEDs" Color="MappedColor" Mode="ColorMode.LED" ShowLabels="false" />
            }
        </div>
        @if (!Led.IsRGB)
        {
            <div class="col-4">
                <img src=@LedStatusImage() class="img-fluid" />
            </div>
        }
    </div>
</div>