<div class="row">
    <div class="col-7">
        <input @oninput="MessageInput" type="text" />
        <p>Message length: @Message.Length/@(LineWidth * LinesCount)</p>
        <button class="btn btn-primary" @onclick="SendMessageToLcd" type="submit">Send</button>
    </div>
    <div class="col">
        <button class="btn btn-primary" @onclick="LcdBacklightToggle">LCD toggle <i>backlight/(message-heating)</i></button>
    </div>
</div>