<div class="row">
    <div class="col-7">
        <input @oninput="(e) => Message = e.Value.ToString().Length <= 32 ? e.Value.ToString() : e.Value.ToString().Substring(0, 32)" type="text" />
        <p>Message length: @Message.Length/32</p>
        <button disabled=true class="btn btn-primary" @onclick="SendMessageToLcd" type="submit">Send</button>
    </div>
    <div class="col">
        <button class="btn btn-primary" @onclick="LcdBacklightToggle">LCD backlight toggle</button>
        <!--<button class="btn btn-danger" @onclick="() => LcdBacklight(0)" >Backlight off</button>-->
    </div>
</div>