@page "/"
@using RpiHomeHub.Components.Temperature;
@using RpiHomeHub.Components.Bulb;

<!--<Title Value="@title" />-->
<h1>@title</h1>

<br />

<div class="row inside">
    <div class="col-md">
        <TemperatureCard ShowThresholdSetting="false" />
    </div>
    <div class="col-md">
        <BulbPowerControls />
    </div>
</div>

@code {
    string title = "Raspberry Pi Home Control Hub";
}
