@page "/heater-lcd"

<style>
    input[type="text"] {
        width: 80%;
    }
    textarea {
        width: 100%;
    }
</style>

<h1>LCD display 16x2</h1>

<div class="row">
    <div class="col-7">
        <input @oninput="(e) => Message = e.Value.ToString().Length <= 32 ? e.Value.ToString() : e.Value.ToString().Substring(0, 32)" type="text" />
        <p>Message length: @Message.Length/32</p>
        <button disabled=true class="btn btn-primary" @onclick="SendMessageToLcd" type="submit">Send</button>
    </div>
    <div class="col">
        <button class="btn btn-success" @onclick="() => LcdBacklight(1)" >Backlight on</button>
        <button class="btn btn-danger" @onclick="() => LcdBacklight(0)" >Backlight off</button>
    </div>
</div>

<br><br>

<div class="row">
    <div class="col">
        <label for="ta1" class="form-label">Temperature events log:</label>
    </div>
    <div class="col-2">
        <button class="btn btn-secondary" @onclick="FetchLog">Refresh</button>
        <button class="btn btn-danger" @onclick="ClearLog">Clear</button>
    </div>
</div>
<div class="row" style="margin-top: 4px;">
    <div class="col">
        <textarea class="form-control" id="ta1" rows="16">
            @if (LogLines is not null)
            {
                @foreach (var line in LogLines)
                {
                    @line
                }
            }
        </textarea>
    </div>
</div>