@page "/led"
@using RaspberryPiHomeControlApiClient.Components.LED

<style>
    .btn-margs {
        margin: 15px;
        margin-left: 20px;
        margin-right: 0;
    }
</style>

<h1>LED control
    <button class="btn btn-secondary btn-margs" @onclick="ToggleAllLeds" disabled=@(Leds is null)>Toggle All</button>
    <button class="btn btn-secondary btn-margs" @onclick="BlinkAllLeds" disabled=@(Leds is null)>Blink All</button>
</h1>

@if (Leds is not null)
{
    <div class="row">
        @foreach (var led in Leds)
        {
            <div class="col-md-6">
                <LED_Control Led="@led" />
            </div>
        }
    </div>
}
else
{
    <p>Loading...</p>
}